{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
<body style="background-color:pink;margin-top:50;">

<h1 style="color:green;text-align:center;">COMMERCE</h1>
<p><b>
Commerce is defined as the exchange of goods and services between two or more entities. It typically involves buying and selling things of value. Commerce can take place between businesses, between consumers, or between businesses and consumers.</b></p>
<div class="row mx-auto">
<div class="col-12 col-sm-6 col-md-2 col-lg-12">
<div class="card">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h2 class="card-title">BCOM</h2>
    <p class="card-text">B.Com Course: Bachelor of Commerce or B Com Course includes commerce, accounting, finance, economics, and business management. The course is broadly pursued by commerce students after completion of class 12th. Universities have different B.Com eligibility requirements. An undergraduate degree in commerce, economics, business law, accounting, taxation, and financing is known as a Bachelor of Commerce.</p>
      After completing this degree, one can move to an insurance consultant, auditor, tax consultant, lecturer, stockbroker, and soon. <br>

    <a href="{% url 'register' %}" class="btn btn-primary">CLICK HERE TO APPLY</a>
  </div>
</div>


</div>
</div>
<div class="row mx-auto">
<div class="col-12 col-sm-6 col-md-12 col-lg-12">
<div class="card">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h2 class="card-title">BBA</h2>
    <p class="card-text">There is a difference in the fee for the BBA program at the online universities affiliated with IMTS as well as the distance learning universities. In the BBA degree program, there are a minimum of INR 15,000 to 22,000 Per Year. Whether the course is deposited semester-wise or semester-by-semester, the student is at liberty to do so. <br>

    <a href="{% url 'register' %}" class="btn btn-primary">CLICK HERE TO APPLY</a>
  </div>
</div>


</div>
</div>
<div class="row mx-auto" style="margin-right:150;">
<div class="col-12 col-sm-6 col-md-12 col-lg-12">
<div class="card">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h2 class="card-title">BCOM CA</h2>
    <p class="card-text">Bcom Computer Application Admission is merit-based. It can also be on a quota basis. The merit is a little lower than other programs. It ranges from 45-50%. The students must have a strong knowledge of computers. It gives privilege and that is no entrance test. The students pass 10+2 years of education. After that, they can apply for it. To take admission to university students give admission tests. After that, interviews are taken. Then the students will be ready to learn it. The scope of this field is rising day by day. The students get to learn very new skills. <br>

    <a href="{% url 'register' %}" class="btn btn-primary">CLICK HERE TO APPLY</a>
  </div>
</div>


</div>
</div>


</body>